<div class ="container">
  <h1>This is your list <%= @list.name %> </h1>
  <% @list.bookmarks.each do |bookmark| %>
    <ul> <%= bookmark.movie.title %>
      <li class="list-group-item">
        <%= bookmark.comment %>
        <%= link_to "Delete",
           bookmark_path(bookmark),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      </li>
      <li> <%= bookmark.movie.overview %> </li>
      <li> <%= bookmark.movie.rating %> </li>
      <li> <%= bookmark.movie.poster_url %> </li>
    </ul>
  <% end %>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, label_method: :title, value_method: :id, include_blank: false %>
    <%= f.input :comment %>
    <%= f.submit "A bookmark to movie" %>
  <% end %>
</li>

</div>
